*
{
    /* outline: 1px solid red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: var(--transition-default);    
}
html
{
    scroll-behavior: smooth;
}
body
{
    font-family: var(--main-font);
    color: var(--light-color);
    background-color: var(--dark-color);
}
a
{
    text-decoration: none;
    color: inherit;
}
.flex
{
    display: flex;
    align-items: center;
    justify-content: center;    
}
.flex.col
{
    flex-direction: column;
}

.cards-container
{
    display: flex;
    flex-wrap: wrap;
}
.card
{
    padding: 2rem;
    border-radius: 1rem;
    margin: 0.5rem;

    background-color:var(--dark-color);
    border: 1px solid #ffffff1a;
    
    transition: all 700ms cubic-bezier(.61,.01,.04,.98);
    flex-grow: 1;

    box-shadow: 10px 10px 45px 0px rgba(0,0,0,0.15);
}
.card div
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 700ms cubic-bezier(.61,.01,.04,.98);
}
.card:hover
{
    flex-grow: 4;
    border: 1px solid #ffffff59;
}
.card:active
{
    flex-grow: 10;
    transform: scale(.9);
}
.card:hover div
{
    transform: scale(1.2);
}

.card h3
{
    color: var(--accent-color);
}

.card i
{
    padding: 1rem;
    font-size: 4rem;
}
.card img
{
    height: 4rem;
    /* padding: 1rem; */
}
@media(max-width:600px)
{
    .card i
    {
        padding: .25rem;
        font-size: 1rem;
    }
    .card h3
    {
        padding: .25rem;
        font-size: 1rem;
    }
    .card
    {
        padding: 1rem;
    }
    .card:hover div
    {
        transform: scale(1.05);
    }
}


::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--dark-color); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--accent-color); 
  }
  
  /* Handle on hover */
  /* ::-webkit-scrollbar-thumb:hover{
    
  } */