section
{
    /* min-height: 100vh; */
    padding: 6rem 16rem;
}
@media(max-width:1000px)
{
    section
    {
        padding: 4rem 5rem;
    }
}
@media(max-width:600px)
{
    section
    {
        padding: 4rem 1.5rem;
    }
}

section h1
{
    line-height: 90%;
    font-size: 4rem;
    font-weight: 900;
    margin-bottom: 1.5rem;

    position: relative;
}
section h2
{
    line-height: 90%;
    font-size: 2rem;
    font-weight: 900;
    color: var(--accent-color);
}
:root[data-accent='gradient'] h2,:root[data-accent='gradient'] h3,:root[data-accent='gradient'] h1::after,:root[data-accent='gradient'] h1::before 
{
    background:var(--gradient);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
:root[data-accent='gradient'] h1::before 
{
    background:var(--gradient);
}
section h1::after
{
    content: ".";
    color: var(--accent-color);
}
section h1::before
{
    content: "";

    height: 3px;
    width:0;

    background-color: var(--accent-color);

    position: absolute;
    bottom: -1rem;
    transition: var(--transition-default);
}
section:hover h1::before
{
    width:100%;
}
@media(max-width:800px)
{
    section h1
    {
        font-size: 3rem;
    }
    section h2
    {
        font-size: 1rem;
    }
}
@media(max-width:600px)
{
    section h1
    {
        font-size: 1.5rem;
    }
    section h2
    {
        font-size: 1rem;
    }
}

section p.secondary
{
    opacity: .6;
}